/* ELEMENT STYLES */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");

/* PAGE ELEMENT STYLES */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

/* NAVIGATION STYLES */

nav a {
  text-decoration: none;
  color: #ffffff;
}

nav {
  width: 100%;
  background-color: #2196f3;
  min-height: 35px;
  padding: 10px;
}

nav span {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: normal;
  text-align: left;
}

nav ul {
  float: right;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

nav li {
  display: inline;
  font-weight: 400;
  padding: 0 20px;
}

/* LAYOUT STYLES */

.content-container {
  margin: 20px;
}

.content-container h1 {
  text-align: center;
  color: #155e98;
  /* font-size: 36px; */
  text-transform: uppercase;
}

/* FORM STYLES */

.form-container {
  max-width: 500px;
  border-radius: 20px;
  background-color: #f2f2f2;
  margin: 50px auto;
  padding: 20px;
}

.form-title {
  text-align: center;
  color: #155e98;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
}

input[type="text"],
select {
  width: 100%;
  /* font-family: Geneva, "Segoe UI", Tahoma, Verdana, sans-serif; */
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  background-color: #2196f3;
  color: #ffffff;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid #2196f3;
  border-radius: 5px;
  cursor: pointer;
}

/* TABLE STYLES */

table {
  border-collapse: collapse;
  /* width: 100%; */
  margin: 25px auto;
  /* font-size: 0.9em; */
  min-width: 400px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: #2196f3;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
}

table th,
table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #2196f3;
}

table tbody button {
  background-color: #2196f3;
  border: 2px solid #2196f3;
  border-radius: 5px;
  color: #f3f3f3;
  padding: 2px 10px;
  text-align: center;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  margin: 1px 4px;
  cursor: pointer;
}

table tbody a {
  text-decoration: none;
  background-color: #2196f3;
  border: 2px solid #2196f3;
  border-radius: 5px;
  color: #f3f3f3;
  padding: 2px 10px;
  text-align: center;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  margin: 1px 4px;
  cursor: pointer;
}

table tbody button:hover {
  background-color: #ffffff;
  color: #2196f3;
}

table tbody a:hover {
  background-color: #ffffff;
  color: #2196f3;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  /* RESPONSIVE NAVIGATION */

  nav {
    padding: 10px 0 0;
  }

  nav span {
    padding-left: 10px;
  }

  nav ul {
    float: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

  nav li {
    display: block;
    line-height: 40px;
    height: 40px;
    padding: 0 0;
    border-bottom: 1px solid #ffffff;
  }
}
